@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function ffPoppins($style: regular) {
  @return ffPoppins-#{$style}, "Poppins", sans-serif;
}

@mixin old-priceTag() {
  font-size: 14px;
  color: gray;
  text-decoration: line-through;
  text-decoration-color: #000;
  margin-right: 5px;
}
@mixin new-priceTag() {
  background-color: #2a2a2a;
  color: white;
  padding: 12px;
  font-size: 18px;
}

@mixin line-divider() {
  font-size: 20px;
  border-bottom: 3px solid gray;
  color: orange;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  font-family: "Poppins";
  width: 1050px;
}
@mixin line-divider-before() {
  display: block;
  position: absolute;
  background-color: orange;
  left: 0;
  bottom: -3px;
  width: 44px;
  height: 3px;
  content: "";
}
