@import "./reset";
@import "./variables";
@import "./mixins";
body {
  font-family: ffPoppins();
}

.main__wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: $body-color;
}

// Header
.topHeader {
  background: url("/images/topheader.png") no-repeat;
  background-size: cover;
  padding: 20px 0;
  &__container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //   left-menu
  .topnav--left,
  .topnav--right {
    .topnav__list--left {
      .menu__list {
        margin-right: 4px;
        display: inline-block;
        color: $body-color;
        cursor: pointer;
        padding: 0px 5px;
        &:hover {
          background-color: #727070;
          .submenu {
            display: block;
            position: absolute;
            width: auto;
            background-color: #434343;
            .submenu__list {
              padding: 3px 0;
              
              &:hover {
                background-color: #727070;
                padding: 0px 2px;
              }
            }
          }
        }
        .submenu {
          display: none;
          position: absolute;
          padding: 6px;
        }
      }
    }
    .topnav__list--right {
      @extend .topnav__list--left
    }
  }
  .menu__link {
    color: $body-color;
    .fa-caret-down {
      color: $body-color;
      margin-left: 4px;
    }
    .fa-user,
    .fa-lock {
      padding-right: 10px;
    }
  }
}

// bottomHeader
.bottomHeader {
  background:  url("/images/bottomHeader.png") no-repeat;
  background-size: cover;
  padding: 35px 0px;
    &__container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  .header__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    .phone__icon {
      margin-right: 14px;
    }
    .phone__text {
      color: $body-color;
      font-size: 17px;
      font-weight: 600;
      line-height: 0.81;
    }
  }
  .cart__container {
    background: {
      image: url("/images/cart-bg.png");
    }
    height: 49px;
    width: 51px;
    border-radius: 10px;
    display: flex;
    .cart__content {
      display: flex;
      align-items: center;
      margin-left: 10px;
      .fa-shopping-bag.fa-2x {
        color: $body-color;
      }
      .text__wrapper {
        content: " ";
        border-radius: 50%;
        background-color: #363636;
        height: 25px;
        width: 25px;
        margin-left: 8px;
        @include flexCenter;
        .cart__items--text {
          margin-left: 8px;
          color: $body-color;
        }
      }
    }
  }
}
}
//Body starts

// line divider
.title__wrapper {
  display: inline-block;
  // width: 100%;
  .title__text {
    @include line-divider();
    &::before {
      @include line-divider-before();
    }
  }
}

%center-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// search bar
.menubar {
  box-shadow: 0px 0px 10px black;
  .menubar__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menubar__container--left {
      display: inline-flex;
      margin-right: 100px;
      .category__container {
        display: flex;
        align-items: center;
        height: 47px;
        width: 212px;
        position: relative;
        border: 1px solid #000000;
        &:before {
          content: "";
          top: 0;
        }
        .img__category {
          padding: 14px;
        }
        select {
          background: url(../images/drop-down.png) no-repeat scroll 95% 3px;
          background-color: $body-color;
          -webkit-appearance: none;
          border: none;
          color: #000;
          width: 100%;
          font-size: 14px;
          &:focus {
            outline: none;
          }
        }
      }
      .search__container {
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        border-left-style: none;
        width: 277px;
        padding: 0px 14px;
        input[type="text"] {
          border: none;
          height: 100%;
          width: 100%;
          font-size: 14px;
        }
      }
    }
    .bars__container {
      display: none;
    }
    .menubar__container--right {
      .nav__container {
        list-style-type: none;
        display: flex;
        align-items: center;
        li {
          display: inline-block;
          padding: 34px 10px;
          &:hover {
            background-color: $onhover-color;
            border-top: 2px solid #000;
            // border-style: solid none none;
            a {
              color: $body-color;
              font-size: 14px;
              font-weight: 600;
              line-height: 0.67;
            }
          }
        }
      }
      a {
        color: #2a2a2a;
      }
    }
    input[type="text"] {
      height: 30px;
      width: 200px;
      background-color: $body-color;
      padding: 5px 3px;
      background: url(../images/search-icon.png) no-repeat scroll 95% 7px;
      border: 1px solid #000;
      border-left-style: none;
    }
    input[type="text"]:focus {
      border: 2px solid #555;
    }
  }
}

// deals start
.wrapper {
  display: flex;
  justify-content: space-between;
}

/* hot deals*/

.deals {
  width: 360px;
  border: 1px solid #e2e2e2;
  .deals--top {
    width: 360px;
    padding: 10px;
    background: {
      image: url("/images/deals-bg-black.jpg");
      repeat: no-repeat;
    }
    .deals__text {
      color: $body-color;
    }
    .ellipsis {
      content: "";
      border-radius: 80%;
      background-color: #e2e2e2;
      height: 20px;
      width: 20px;
      margin-right: 5px;
      float: right;
      &:hover {
        background-color: $onhover-color;
      }
    }
  }
  .deals__body {
    height: 455px;
    // background-image: url("/images/deals-bg-gray.png");
    background-repeat: no-repeat;
    .__wrapper {
      height: 289px;
      position: relative;
      // background-image: url("/images/hotdeals.jpg");
      // background-repeat: no-repeat;
      .cart__img {
        img {
          width: 100%;
          height: 289px;
        }
      }
      .cart--middle {
        background-image: url("/images/add-cart-bg.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 100px;
        left: 114px;
        .cart__wrapper {
          padding: 5px 3px;
          a {
            font: 13px ffPoppins();
            padding: 0px 10px;
            text-decoration: none;
            color: $body-color;
          }
        }
      }
      /* timer */
      .timer {
        position: absolute;
        bottom: 10px;
        margin-left: 30px;
        .timer__wrapper {
          display: inline-block;
          padding: 4px;
          content: "";
          border-radius: 80%;
          height: 70px;
          width: 70px;
          background-color: #434343;
          color: $body-color;
          text-align: center;
          font-weight: 600;
          span {
            color: $body-color;
            font: 24px ffPoppins(bold);
            line-height: 1.4;
            font-weight: 600;
          }
          .timer__text {
            font-size: 13px;
          }
        }
      }
    }
    .productinfo {
      text-align: center;
      height: 166px;
      .product__name {
        font-size: 16px;
        padding: 17px 95px 0px;
      }
      .star__wrapper {
        margin: 20px 0px;
        .checked {
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
      .list__icons {
        display: inline-block;
        margin: 5px 10px 0px;
        ul {
          li {
            display: inline-block;
          }
        }
      }
      .price__wrapper {
        float: right;
        margin: 20px 16px;
        .oldprice {
          @include old-priceTag();
        }
        .newprice {
          @include new-priceTag();
        }
      }
    }
  }
}

// slider
.slider {
  width: 750px;
  // height: 505px;
  .slider__wrapper {
    position: relative;
    .slider__img {
      width: 100%;
      display: block;
    }
    .__text__wrapper {
      background-color: rgb(0, 0, 0);
      position: absolute;
      top: 145px;
      text-align: center;
      padding: 77px 0px 67px;
      width: 100%;
      opacity: 0.7;
      // &::before {
      //   opacity: 50%;
      // }
      .slider__text {
        display: inline-flex;

        margin-right: 10px;
        font-size: 54px;
        color: #ffffff;
        line-height: 1.47;
        font-weight: 300;
        &:nth-child(2) {
          font-weight: 600;
        }
      }
      .text__save {
        font-size: 24px;
        color: #ffffff;
        line-height: 0.76;
      }
      .btn__shop {
        background-color: $body-color;
        border-radius: 5%;
        position: absolute;
        left: 40%;
        margin-top: 32px;
        padding: 22px 30px;
        .btn__text {
          a {
            color: $text-color;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.slider__btn {
  display: inline-flex;
  width: 100%;
  height: 40px;
  .slider--left {
    padding: 13px 184px;
    background-color: $text-color;
    color: $body-color;
    &:hover {
      background-color: $onhover-color;
    }
  }
  .slider--right {
    @extend .slider--left;
  }
}

/* options */
.options {
  margin-top: 30px;
  &__container {
    width: 100%;
    .options__list {
      display: inline-flex;
      margin-top: 30px;
      .options__box {
        width: calc(100% / 4);
        margin-right: 30px;
        border: 1px solid #ccc5c3;
        padding: 56px 0px 22px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        &:hover .text__container {
          color: #e0a38e;
          .icon__container {
            border: 1px solid $onhover-color;
            .icon__inner {
              border: 1px solid $onhover-color;
              background-color: $onhover-color;
              .fa-truck,
              .fa-headphones,
              .fa-undo,
              .fa-bullhorn {
                color: $body-color;
              }
            }
          }
        }
        .icon__container {
          padding: 6px;
          height: 76px;
          width: 76px;
          background-color: $body-color;
          border-radius: 80%;
          border: 1px solid #ccc5c3;
          position: absolute;
          bottom: 75%;
          left: 35%;
          .icon__inner {
            border-radius: 80%;
            height: 62px;
            width: 62px;
            background-color: $body-color;
            border: 1px solid #ccc5c3;
            position: relative;
            .fa-truck,
            .fa-headphones,
            .fa-undo,
            .fa-bullhorn {
              position: absolute;
              padding: 20px;
            }
          }
        }
        .text__title {
          font-size: 20px;
          text-align: center;
          letter-spacing: 1px;
          .text__size {
            font-weight: 300;
            line-height: 1.48;
            &:nth-child(odd) {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
// options end
// ads starts
.ads {
  margin-top: 30px;
  display: inline-flex;
  .ads__container--left {
    margin-right: 30px;
  }
  .ads__container--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .ads__img {
      width: 555px;
      display: block;
    }
  }
}

// ads ends
// new products start
.np {
  margin-top: 60px;
  .np__product__list {
    li {
      position: relative;
      list-style-type: none;
      display: inline-block;
      margin-left: 20px;
      padding-bottom: 10px;
      &:before {
        transition: 300ms;
        content: "";
        position: absolute;
        background-color: $onhover-color;
        height: 3px;
        bottom: 0px;
        transition: height 0.4s ease;
      }
      &:hover {
        &:before {
          width: 100%;
          bottom: 0;
        }
      }
      a {
        color: $text-color;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.line-np {
  width: calc(100% - 15vh);
}
.arrow {
  content: "";
  border-radius: 80%;
  background-color: #e2e2e2;
  height: 15px;
  width: 15px;
  margin-right: 13px;
  float: right;
  &:hover,
  &:focus,
  &:active {
    background-color: $onhover-color;
  }
  // &:active {
  //   background-color: $onhover-color;
  // }
}

// product grid
.product__container {
  .product__list {
    display: flex;
    flex-flow: row wrap;
    .__list--item {
      display: inline-block;
      margin-right: 30px;
      &:nth-of-type(4n) {
        margin-top: 30px;
        margin-right: 0;
      }
    }
  }
}

/* cards */

.card {
  width: 260px;
  height: 410px;
  border: 2px solid #e2e2e2;
  position: relative;
  &:hover {
    .card__name {
      color: $onhover-color;
    }
    .card__wrapper {
      .card__info {
        .onhover__menu {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          position: absolute;
          top: -70px;
          .menu__view {
            background-color: black;
            padding: 13px 8px;
          }
          .menu__add {
            background-color: black;
            padding: 13px 8px;
          }
        }
        .card__icons {
          .icons__list__price {
            .card__price {
              .card__newprice {
                background-color: $onhover-color;
              }
            }
          }
        }
      }
    }
  }
  &__wrapper {
    .sale__wrapper {
      position: absolute;
      width: 40px;
      height: 20px;
      border-radius: 50%;
      background-color: $text-color;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      border-bottom-left-radius: 110px;
      border-bottom-right-radius: 110px;
      .sale {
        color: $body-color;
        font-size: 12px;
      }
    }
    .card__img {
      width: 100%;
      height: 260px;
    }
    .card__info {
      background-color: $body-color;
      margin-top: 15px;
      position: relative;
      text-align: center;

      .onhover__menu {
        display: none;
      }
      .card__name {
        font-size: 16px;
      }
      .card__star {
        text-align: center;
        margin: 5px;
        .checked {
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
      .card__line {
        display: block;
        margin: 15px auto 0px;
      }
      .card__icons {
        padding: 10px 0px 0px 10px;
        .icons__list {
          float: left;
          padding: 10px;
          border: 2px solid #000000;
          margin: 5px;
        }
        .icons__list__price {
          float: right;
          .card__price {
            margin: 15px 12px 0px 0px;
            .card__oldprice {
              @include old-priceTag();
            }
            .card__newprice {
              @include new-priceTag();
              padding: 10px;
              //  whole container
              //   &:hover {
              //     background-image: url("/images/price-bg-hover.png");
              //   }
            }
          }
        }
      }
    }
  }
}

// furniture

.gallery__wrapper {
  display: inline-flex;
  margin-top: 60px;
  .furniture {
    margin-right: 30px;
    .__title {
      @include line-divider();
      width: 555px;
      &:before {
        @include line-divider-before();
      }
    }
    .furniture__container {
      width: 555px;
      height: 540px;
      border: 2px solid gray;
      margin-top: 30px;
      position: relative;
      .tab__container {
        position: absolute;
        .tab__list {
          font-size: 0px;
          background-color: white;
          .tab--links {
            padding: 15px 23px;
            font-size: 18px;
            font-weight: 600;
            border: 1px solid gray;
            &:nth-child(1) {
              border-left-style: none;
            }
            &:nth-of-type(4) {
              padding: 15px 20px;
              border-right-style: none;
            }
          }
        }
      }

      .tab__wrapper {
        width: 100%;
        height: 454px;
        .tab__img--full {
          font-size: 0px;
          .tab__img {
            width: 100%;
            height: 453px;
          }
        }

        .tab__thumbnail {
          display: flex;
          padding: 8px 9px;
          height: 88px;
          .tab__slider--left {
            background-color: black;
            padding: 30px 14px;
            margin-right: 7px;
            .slider__prev {
              color: white;
            }
          }
          .tab__slider--right {
            @extend .tab__slider--left;
            margin-right: 0px;
            margin-left: 7px;
            .slider__next {
              @extend .slider__prev;
            }
          }
          .tab__img--thumbnail {
            .tab__img--small {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
  }
}
.ads__container {
  position: relative;

  .ads__bed__img {
    width: 550px;
    height: 600px;
  }
  .ads__text__body {
    position: absolute;
    top: 0;
    padding: 68px;
    .ads__text {
      font-size: 18px;
      width: 340px;

      .price--green {
        font-size: 48px;
        color: #79ae30;
        font-weight: bold;
      }

      .price__text {
        font-size: 48px;
        color: $onhover-color;
        display: flex;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .btn__green {
      width: 130px;
      padding: 20px;
      border-radius: 8%;
      background-color: #79ae30;
      text-align: center;
      margin-top: 30%;
      .text--green {
        color: $body-color;
        font-size: 14px;
      }
    }
  }
}

// blog
.blog {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 60px;
  .blog__container {
    .blog__post {
      margin-top: 30px;
      .blog__list {
        display: flex;
        li {
          margin-right: 30px;
          .post {
            width: 360px;
            height: 540px;
            position: relative;
            .post__img {
              width: 360px;
              height: 290px;
            }
            .post__info {
              width: 300px;
              text-align: left;
              position: absolute;
              top: 230px;
              margin: 0px 30px;
              background-color: white;
              &:hover .post__title {
                color: $onhover-color;
              }
              &:hover .post__more a {
                background-color: $onhover-color;
              }
              .post__info--top {
                margin: 27px 20px 0px;
                display: flex;
                justify-content: space-between;
                .post__date {
                  color: #676767;
                  font-size: 13px;
                  display: flex;
                  .fas.fa-calendar-alt {
                    margin-right: 10px;
                  }
                }
                .post__comment {
                  color: #676767;
                  font-size: 13px;
                  .fas.fa-comments {
                    color: black;
                    margin-right: 10px;
                  }
                }
              }
              .post__title {
                font-size: 16px;
                font-weight: 600;
                color: #2a2a2a;
                margin-top: 45px;
              }
              .post__text {
                font-size: 14px;
                color: #676767;
                line-height: 24px;
              }
              .post__more {
                text-align: center;
                margin-top: 67px;
                a {
                  text-decoration: none;
                  color: white;
                  padding: 15px 40px;
                  background-color: #2a2a2a;
                }
              }
            }
          }

          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .blog__slider {
    margin-top: 60px;
    padding: 23px 0px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    &__btn {
      display: flex;
      align-items: center;
    }

    .blog__slider--left {
      padding: 50px 15px;
      background-color: black;
      margin-right: 30px;
      &:hover {
        .slider__text {
          color: #e0a38e;
        }
      }
      .slider__text {
        color: white;
        text-align: center;
      }
    }
    .blog__slider--right {
      @extend .blog__slider--left;
      margin-right: 0;
      margin-left: 30px;
    }

    .__slider__img {
      border: 1px solid gray;
      margin-right: 30px;
      &:nth-of-type(5) {
        margin-right: 0;
      }
    }
  }
}

//   /* slider - blog */

//testimonial
.testimonial {
  margin-top: 60px;
  .testimonial__wrapper {
    // .__title {
    //   @include line-divider();
    //   width: 1050px;
    //   &:before {
    //     @include line-divider-before();
    //   }
    // }

    .test__body {
      padding: 30px 0 60px 0;
      text-align: center;
      .quote {
        width: 23px;
      }
      .body__text {
        width: 960px;
        margin-top: 30px;
        line-height: 25px;
      }

      .profile {
        margin-top: 35px;
        display: inline-flex;

        .profile--left {
          margin-right: 20px;
          .profile__img {
            width: 60px;
            height: 52px;
          }
        }
        .profile--right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .name {
            font-size: 16px;
          }
          .title {
            font-size: 14px;
          }
        }
      }
    }
  }
}
//footer
footer {
  height: 332px;

  .footer--top {
    padding: 60px;
    background-color: $footer-color;
    .footer__wrapper--top {
      max-width: 1140px;
      margin: 0px auto;
      padding-bottom: 55px;
      .footer__list {
        width: 153px;
        margin-right: 120px;
        display: inline-block;
        ul {
          li {
            display: block;
            h3 {
              font-size: 22px;
              line-height: 30px;
              color: $body-color;
              margin-bottom: 37px;
              font-weight: bold;
            }
            a {
              font-size: 14px;
              line-height: 30px;
              color: $footer-text-color;
            }
          }
        }
      }
      .card__payments {
        margin-top: 30px;
        margin-right: 40px;
        float: right;
        .payments__link {
          display: inline;
          a {
            margin-right: 10px;
            .payment__img {
              box-shadow: 0px 8px 10px #4a4a4a;
            }
          }
        }
      }
    }
  }
  .footer--bottom {
    background-color: $text-color;
    .footer__wrapper--bottom {
      max-width: 1140px;
      margin: 0 auto;
      text-align: center;
      padding: 40px;
      .copyright {
        color: $footer-text-color;
      }
      .icons__social {
        float: right;
        .social__list {
          li {
            margin-right: 25px;
            color: $footer-text-color;

            a {
              .fab {
                color: $footer-text-color;
                &:hover {
                  color: $onhover-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
